@import url('https://fonts.googleapis.com/css?family=Rakkas');

body{
  background-color:#232728;
  overflow:hidden;
  font-family:'Rakkas';
}
#pixiCanvas{
  position:absolute;
}

.title{
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  transform:translate(-50%, -50%);
  color:#DBAB4C;
  font-size:6em;
}

.button {
  position:absolute;
  left:50%;
  top:65%;
  text-align:center;
  transform:translate(-50%, -50%);
  cursor: pointer;
  background-color: #DBAB4C;
  border: none;
  color: black;
  padding: 20px;
  width: 150px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #DBAB4C;
  border-radius: 4px;
  font-family:'Rakkas';
  text-decoration: none;
}

.button:hover {
  background: white;
  box-shadow: 0px 2px 10px 5px grey;
  color: grey;
}

.button:after {
  content: "";
  background: grey;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }
